<div id="form">
    <%= render "form" %>
</div>
<%= form_for @tweet, url: {action: :update} do |f| %>
    <p>
    <%= f.label :message, 'ツイート内容' %><br>
    <%= f.text_field :message %>
    </p>
    <p>
    <%= f.label :file, 'ファイル' %>
    <%= f.file_field :file %>
    </p>
    <%= f.submit '変更' %>
<% end %>